nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: flex-end; /* Align the menu items to the right */
}

nav ul li:first-child {
  margin-right: auto; /* Move the first menu item to the left */
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}
body {
  /*background: linear-gradient(to bottom, #00b894, #008080); */
  margin: 0;
  padding: 0;
}